name: Build and Push Docker image for release

on:
  push:
    branches: ["release"]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write # cáº§n cho ghcr

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./be-instagram
          file: ./be-instagram/Dockerfile.prod
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/be-instagram:latest
        